/*Config. inicial*/
* { 
    margin: 0px;
    padding: 0px;
}

.cabecario { 
    width: 90%; /*Largura*/
    margin: 40px; /*margem*/
    padding: 15px; /*espaçamento de dentro*/
    border: 0.5px solid #888; 
    border-radius: 10px;
    background-color: #f5f5f500; /*fundo transparente*/

    display: flex;
    align-items: center;
}

.cabecario h1 {
    /*font-family: Playfair Display;*/
    font-size: 35px;
    font-weight: normal;
}

.cabecario h2 {
    /*font-family: Cormorant Garamond;*/
    font-size: 15px;
    font-weight: normal;
}

#menu {
    display: flex;
    gap: 50px;
    margin-left: 900px;
}

#menu a {
    text-decoration: none; /*tira linha embaixo da tag <a>*/
    color:rgb(0, 0, 0); 
}

/*Logo do cabeçario*/
#logo {
    height: 80px;
}

/*Corpo do site*/
body {
    background-color: #DEDEDE;
}

/*Fanny - main*/
#fannypng {
    height: 450px;
}



